/*
* @Author: Imam
* @Date:   2018-06-27 22:34:02
* @Last Modified by:   Imam
* @Last Modified time: 2018-07-04 02:08:41
*/

.boxbook.container {
	width: 100%;
	/*background:red;*/
	border-radius: 0;
	max-height: 200px;
	overflow-y: hidden;
}