/*
* @Author: d4r
* @Date:   2018-03-12 22:45:52
* @Last Modified by:   d4r
* @Last Modified time: 2018-03-12 23:22:46
*/
.compose {
	margin: 0 auto;
	padding-top: 16px;
	padding-bottom: 16px;

}
.compose.pure-button {
	margin: 0 auto 0 auto;
	background-color: #45b8ea;
	max-width: 150px;
	color: white;
	text-align: center;
	/*margin: .5em;*/
	border-radius: 15px;

}

.image-compose {
	display: none!important;
}

.compose.pure-button{
	margin-top:0!important;
	float: right!important;
	min-width: 50px;
}

@media screen and (min-width: 48em) {
	.image-compose {
		display: inline-block!important;
	}
	.compose.pure-button{
		margin-top:inherit!important;
	}
}

@media screen and (min-width: 64em) {
	.compose.pure-button{
		margin-top:0!important;
		float: none!important;
		margin-left: 10px;
		min-width: 50px;
	}

}

